* {
    font-family: "Roboto Flex", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.link {
    text-decoration: none;
    color: inherit;
}

.container {
    box-sizing: border-box;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    max-width: 1440px;
    margin: auto;
}

.container-section {
    margin-top: 6.5rem;
    margin-bottom: 5rem;
}

.text-small {
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
    color: rgba(255, 255, 255, 0.8);
}

.input {
    padding: 12px 24px;
    margin-bottom: 1rem;
    border-radius: 50px;
    border-width: 1px;
    border-color: rgba(13, 17, 20, 1);
    width: 100%;
    box-sizing: border-box;
    line-height: 1.35rem;
    font-weight: 500;
}

.input::placeholder {
    color: rgba(13, 17, 20, 0.4);
}

.heading-large {
    font-weight: 800;
    font-size: 2.75rem;
    line-height: 3rem;
    letter-spacing: 1px;
}

.heading-small {
    font-size: 1.75rem;
    line-height: 1.875rem;
    font-weight: 800;
    letter-spacing: 1px;
}

.card-text {
    padding: 2.5rem;
    border: 2px solid rgba(255, 193, 33, 1);
    border-radius: 40px;
}

.card-image {
    border-radius: 40px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.highlighted {
    background-color: rgba(255, 193, 33, 1);
    color: black;
    padding: 0.75rem 1.25rem;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.35rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.secondary {
    color: black;
    background-color: #fff;
    padding: 0.75rem 1.25rem;
    border: 1px solid black;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    line-height: 1.35rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.tertiary {
    background-color: #fff;
}

.bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.method-text {
    padding: 2.5rem;
    background-color: rgba(13, 17, 20, 0.06);
    border-radius: 40px;
    line-height: 1.35rem;
}

.method-image {
    border-radius: 50%;
    border: 4px solid rgba(255, 193, 33, 1);
}

.image {
    width: 100%;
    height: auto;
}

/* */


.header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
    margin-right: 1rem;
}

.logo-svg {
    fill: white;
}

.menu-items-desktop {
    font-weight: 500;
    line-height: 1.25rem;
    color: white;
    display: flex;
    align-items: center;
    gap: 1vw;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1.25rem;
    margin: 0.563rem 0;
    border-radius: 50px;
    backdrop-filter: blur(10px);
    transition: all 0.2s ease-in-out;
}

.menu-item-desktop {
    position: relative;
    padding-left: 0.75rem;
    text-align: center;
}

.menu-item-desktop::before {
    content: "";
    position: absolute;
    left: 0;
    margin-top: 0.25rem;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgba(255, 193, 33, 1);
    transition: all 2s ease-in-out;
    display: none;
}

.menu-item-desktop:hover::before {
    display: inline-block;
}

.header-line-mobile, .menu-mobile {
    display: none;
}

.welcome {
    box-sizing: border-box;
    height: 720px;
    padding-top: 7.125rem;
    padding-bottom: 4rem;
}

.background-video {
    background-color: black;
    object-fit: cover;
    z-index: -2;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 800px;
}

.background-video-filter {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 800px;
    background-color: 
    rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(30px);
    z-index: -1;
}

.welcome-content {
    display: flex;
    justify-content: space-between;
}

.welcome-text {
    width: 40%;
    color: white;
}

.welcome-text-img {
    height: 31%;
    width: 100%;
    margin-top: 1rem;
    box-sizing: border-box;
    object-fit: contain;
}

.welcome-text-description {
    padding: 7vw 0 0.5rem 0;
}

.welcome-form {
    background-color: white;
    color: black;
    width: 33.1%;
    padding: 2.5rem 2.5rem 1.5rem;
    border-radius: 40px;
    /* display: flex;
    flex-direction: column; */
    height: 40%;
    box-sizing: border-box;
}

.welcome-form-description {
    line-height: 1.35rem;
    color: rgba(13, 17, 20, 0.6);
    margin-top: 0.25rem;
    margin-bottom: 2.5rem;
}

.welcome-form-button {
    width: 100%;
    margin-top: 24px;
}

.welcome-form-info {
    text-align: center;
    font-size: 0.75rem;
    line-height: 0.938rem;
    color: 
    rgba(13, 17, 20, 0.4);
    margin-top: 0.5rem;
}

.dance {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    row-gap: 5rem;
    position: relative;
}

.dance-heading {
    grid-column: 1 / span 6;
    grid-row: 1;
}

.dance-heading-additional {
    font-size: 1.5rem;
    line-height: 1.758rem;
    font-weight: 500;
    font-style: italic;
    color: rgba(13, 17, 20, 0.6);
    margin-top: 0.75rem;
}

.dance-first-info {
    grid-column: 1 / span 4;
    grid-row: 2;
}

.dance-first-image {
    grid-column: 7 / span 4;
    grid-row: 1 / span 3;
}

.dance-second-info {
    grid-column: 8 / span 3;
    grid-row: 4;
}

.dance-second-image {
    grid-column: 1 / span 5;
    grid-row: 3 / span 3;
}

.dance-third-info {
    grid-column: 1 / span 3;
    grid-row: 7;
}

.dance-third-info-paragraph {
    margin-bottom: 1.75rem;
}

.dance-third-image {
    grid-column: 7 / span 4;
    grid-row: 6 / span 3;
}

.dance-fourth-info {
    grid-column: 7 / span 3;
    grid-row: 9;
}

.dance-fourth-image {
    grid-column: 1 / span 4;
    grid-row: 8 / 10;
}

.dance-image-offgrid {
    grid-column: 5 / span 3;
    grid-row: 5 / 7;
    z-index: 2;
}

.joinus {
    background-image: url(../img/joinus-1.jpeg);
    width: 100%;
    height: 620px;
}

.joinus-text {
    padding-top: 3.25rem;
    color: white;
    width: 60%;
}

.joinus-button {
    margin-top: 1.75rem;
}

.products-wrapper {
    margin-top: 4rem;
    display: flex;
    gap: 24px;
    max-height: 613px;
}

.product-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    border-radius: 50px;
    padding: 2rem;
    box-sizing: border-box;
}

.product-card-heading {
    font-size: 2.5rem;
    color: white;
    margin-top: 70%;

}

.product-card-description {
    color: rgba(255, 255, 255, 0.7);
    margin-top: 0.5rem;
}

.product-card-button {
    margin-top: 1.5rem;
}

.product-card-abonements {
    background-image: url(../img/product-card-2.jpeg);
}

.product-card-merch {
    background-image: url(../img/product-card-1.png);
}

.method-heading {
    text-align: center;
}

.method-wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: 4.625rem;
}

.method-text-1 {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
}

.method-text-2 {
    grid-column: 4 / span 3;
    grid-row: 1 / span 2;

}

.method-text-3 {
    grid-column: 1 / span 6;
    grid-row: 3 / span 2;
}

.method-image-circle-first {
    grid-column: 7 / span 3;
    grid-row: 1 / span 3;
    z-index: -2;
}

.method-image-first {
    grid-column: 8 / span 5;
    grid-row: 2 / span 6;
    z-index: -1;
}

.method-text-4 {
    grid-column: 1 / span 3;
    grid-row: 5 / span 2;
}

.method-text-5 {
    grid-column: 4 / span 3;
    grid-row: 5 / span 2;
}

.method-image-second {
    grid-column: 7 / span 3;
    grid-row: 6 / span 3;
}

.method-text-6 {
    grid-column: 8 / span 5;
    grid-row: 10 / span 2;
}

.method-image-third {
    grid-column: 1 / span 4;
    grid-row: 8 / span 5;
}

.method-image-circle-second {
    grid-column: 3 / span 5;
    grid-row: 8 / span 5;
    z-index: -2;
}

.method-text-7 {
    grid-column: 8 / span 5;
    grid-row: 12 / span 2;
}

.method-image-fourth {
    grid-column: 1 / span 4;
    grid-row: 8 / span 5;
}

.method-text-8 {
    grid-column: 8 / span 5;
    grid-row: 14 / span 2;
}

.method-image-fourth {
    grid-column: 4 / span 3;
    grid-row: 11 / span 4;
}

.place-wrapper {
    display: flex;
    gap: 1.5rem;
}

.place-text {
    width: 30%;
}

.place-description {
    margin-top: 3rem;
    padding: 2.5rem;
    border: 1px solid rgba(255, 193, 33, 1);
    border-radius: 40px;
}

.place-paragraph {
    margin-bottom: 1rem;
}

.place-slider {
    width: 70%;
    
}

.place-swiper-slider {
    width: 100%;
    height: 570px;
    border-radius: 40px;
}

.place-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.place-slide-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.faq-flex-wrapper {
    display: flex;
    gap: 1.5rem;
}
.faq-text {
    width: 50%;
}
.faq-wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 50%;
}

.faq-heading {
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.accordion {
    background-color: rgba(13, 17, 20, 0.06);
    color: black;
    cursor: pointer;
    padding: 2rem 3.5rem 2rem 2.5rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-radius: 50px;
    transition: 0.4s;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2.025rem;
    position: relative;
}

.accordion:after {
    content: '\002B';
    font-size: 2rem;
    color: black;
    float: right;
    margin-left: 5px;
    position: absolute;
    top: 30px;
    right: 30px;
  }
  
  .active:after {
    content: "\002D";
  }

.active, .accordion:hover {
    background-color: rgba(255, 193, 33, 1);
}
  
.panel {
    box-sizing: border-box;
    padding: 2.5rem;
    margin-top: 1rem;
    background-color: white;
    border: 2px solid rgba(255, 193, 33, 1);
    border-radius: 40px;
    overflow: hidden;
    display: none;
}

.faq-image-first {
    grid-column: 1 / span 4;
    grid-row: 1 / span 5;
}

.faq-image-second {
    grid-column: 3 / span 3;
    grid-row: 5 / span 3;
    z-index: -1;
}

.schedule-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.schedule-heading {
    margin-bottom: 3.25rem;
}

.schedule-card {
    box-sizing: border-box;
    width: 48%;
    padding: 2.5rem;
    border: 2px solid rgba(255, 193, 33, 1);
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 234px;
}

.schedule-card-heading {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;

}

.schedule-card-description {
    font-size: 1rem;
    line-height: 1.5rem;
    color: rgba(13, 17, 20, 0.6);

}

.col-1 {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.row-1, .blog-row-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.schedule-card-description-start {
    color: rgba(13, 17, 20, 0.6);
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.125rem;
}
.schedule-card-description-day-mod {
    margin-bottom: 1rem;
}

.teachers-heading {
    text-align: center;
    margin-bottom: 3rem;
}

.teachers-slider-wrapper {
    align-items: center;
    margin-left: -120px;
    width: 100%;
}

.teachers-swiper-slider {
    width: 100%;
    height: 100%;
    /* padding: 0.5rem; */
}

.teachers-slider-wrapper > .swiper-slide {
    filter: blur(8px);
}

.teachers-slider-wrapper > .swiper-slide-active {
    filter: blur(0);
}

.teachers-slider-wrapper > .swiper-slide-active > .img-row > .teachers-slide-img {
    width: 100%;
}

.teachers-slider-wrapper > .swiper-slide > .teacher-name {
    display: none;
}

.teachers-slider-wrapper > .swiper-slide > .teachers-description {
    display: none;
}
.teachers-slider-wrapper > .swiper-slide > .secondary {
    display: none;
}
.teachers-slider-wrapper > .swiper-slide > .img-row > .img-dot {
    display: none;
}

.teachers-slider-wrapper > .swiper-slide-active > .teacher-name {
    display: block;
}
.teachers-slider-wrapper > .swiper-slide-active > .teachers-description {
    display: block;
}
.teachers-slider-wrapper > .swiper-slide-active > .secondary {
    display: block;
}
.teachers-slider-wrapper > .swiper-slide-active > .img-row > .img-dot {
    display: block;
}

.teachers-slide {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    position: relative;
    height: 45vw;
    /* width: 40%; */
}

.img-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.img-dot {
    width: 0.75rem;
    height: 0.75rem;
}

.teachers-slide-img {
    display: block;
    width: 60%;
    height: auto;
    margin: 1.5rem;
    object-fit: cover;
}

.teachers-description {
    color: rgba(13, 17, 20, 0.6);
    margin-top: 0.25rem;
    margin-bottom: 1rem;
}

.blog-article-1 {
    margin-top: 3rem;
    width: 100%;
    background-image: url(../img/blog-1.jpeg);
    max-height: 27.5rem;
    color:#fff;
    padding-bottom: 2rem;
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.blog-article-main-heading {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 2.75rem;
    letter-spacing: 1px;
    width: 40%;
    margin-top: 0.5rem;
    margin-bottom: 0.25rem;
}

.blog-article-main-date {
    margin-top: 12.25rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
    color: rgba(255, 255, 255, 0.7);
}

.blog-article-main-button {
    background-color: transparent;
    color:white;
    border-color: #fff;
}

.blog-row {
    display: flex;
    margin-top: 3rem;
    gap: 1.5rem;
}

.blog-article-2, .blog-article-3, .blog-article-4 {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.blog-image {
    border-radius: 40px;
    height: 17.5rem;
    object-fit: cover;
}

.blog-article-text {
    margin: 1.5rem 0.75rem 1rem 0.75rem;
}

.blog-article-date {
    color:rgba(13, 17, 20, 0.6);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.125rem;
}

.blog-article-heading {
    margin-top: 0.625rem;
}

.blog-article-description {
    margin-top: 0.5rem;
    color:rgba(13, 17, 20, 0.6);
    line-height: 1.35rem;
    margin-bottom: 1rem;
}

.blog-article-button {
    width: 100%;
    margin-top: auto;
}

.blog-widgets-wrapper {
    display: flex;
    gap: 2rem;
    box-sizing: border-box;
}

.widget-vk, .widget-tg {
    width: 50%;
    border: 2px solid rgba(255, 193, 33, 1);
    border-radius: 40px;
    padding: 1.5rem;
    box-sizing: border-box;
}
 
.widget-vk > h3 {
    margin-bottom: 1.5rem;
    text-align: center;
}

#vk_groups {
    margin: 0 auto;
}

.widget-tg > h3 {
    margin-bottom: 1.5rem;
    text-align: center;
}   

.widget-tg {
    margin: 0 auto;
}

.otzyvi-wrapper {
    display: flex;
    gap: 2rem;
}

.otzyvi-heading {
    margin-top: 2rem;
    margin-bottom: 2rem;  
}

.otzyvi-col-1, .otzyvi-col-2 {
    width: 50%;
}

.otzyvi-col-2 {
    position: relative;
}

.otzyvi-swiper-slider {
    height: 17rem;
}

.otzyvi-slide {
    /* width: 79%; */
    /* background-color: rgba(13, 17, 20, 0.06); */
    /* border-radius: 40px; */
    /* padding: 3vw; */
    box-sizing: border-box;
    margin-left: 7%;
}

.otzyvi-slide-heading {
    margin-bottom: 1rem;
}

.otzyvi-swiper-pagination {
    left: 8px !important;
}

.otzyvi-image-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.otzyv-image {
    width: 90%;
    height: auto;
    object-fit: cover;
}

.otzyvi-image {
    width: 75%;
    height: auto;
    margin-left: 23%;
    margin-top: 21%;
    border-radius: 40px;
    border: 4px solid rgba(255, 193, 33, 1);
}

.project-row{
    gap: 1rem;
}

.project-heading {
    margin-bottom: 1.5rem;
}

.project-description {
    min-height: auto;
}

.project-video {
    width: 100%;
    height: auto;
}

.link-telegram {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.button-telegram {
    background-color: #fff;
}

.video-wrapper {
    height: 48vw;
    border-radius: 40px;
    margin-top: 2rem;
}

.therapy-wrapper {
    display: flex;
    gap: 2rem;
}

.therapy-col-1, .therapy-col-2 {
    width: 50%;
}

.therapy-button {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
}

.therapy-card {
    width: 100%;
    min-height: auto;
}

.therapy-img {
    border-radius: 40px;
}

.therapy-col-2 {
    position: relative;
}

.therapy-img-2 {
    position: absolute;
    right: -10vw;
    bottom: -10vw;
    z-index: -1;
}

.contactus {
    margin-top: 10rem;
}

.contactus-slide {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 17, 20, 1);
    border-radius: 40px;
    padding: 5.375rem;
}

.contactus-wrapper {
    display: flex;
    gap: 8.25rem;
}

.contactus-col-1, .contactus-col-2 {
    width: 50%;
}

.contactus-col-2 {
    display: flex;
    flex-direction: column;
}

.contactus-name, .contactus-slide-description {
    color: #fff;
}

.contactus-slide-description {
    opacity: 0.7;
}

.contactus-description {
    color: rgba(13, 17, 20, 0.6);
    margin-top: 0.75rem;
    margin-bottom: 1.5rem;
}

.contactus-slide-img {
    width: 70%;
}

.contactus-button-row {
    display: flex;
    gap: 0.75rem;
}

.contactus-social {
    margin-top: 6.5rem;
}

.social-wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.125rem;
    margin-left: 0.75rem;
}

.contactus-social {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.contactus-button {
    padding: 1rem;
    border-radius: 24px;
    width: 47%;
}
.contactus-button:hover {
    background-color: rgba(255, 193, 33, 1);
}
.secondary-name {
    color: rgba(13, 17, 20, 0.6);
}

.contactus-disc {
    color: rgba(13, 17, 20, 0.4);
    font-size: 0.75rem;
    line-height: 1rem;
    margin-top: 0.75rem;
    width: 47%;
}

.footer-wrapper {
    background-color:#0D1114;
    border-radius: 40px;
    padding: 2.5rem 6.725rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    row-gap: 1rem;
    column-gap: 2rem;
}

.footer-button {
    background-color: transparent;
    border: 1px solid #FFC121;
    padding: 0.5rem 0.725rem;
    color: #fff;
    border-radius: 50px;
}

.footer-name {
    grid-column: 1;
    grid-row: 2;
    color: #fff;
    font-weight: 1000;
    line-height: 1.125rem;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.footer-button-contacts {
    grid-column: 2;
    grid-row: 2;
}

.footer-button-schedule {
    grid-column: 2;
    grid-row: 3;
}

.footer-button-products {
    grid-column: 3;
}

.footer-button-signin {
    grid-column: 3;
    grid-row: 2;
    background-color: #FFC121;
    color: #0D1114;
}

.footer-address {
    grid-column: 4;
    color: #fff;
    text-align: right;

}

.footer-copyright {
    grid-column: 4;
    grid-row: 2;
    color:rgba(255, 255, 255, 0.7);
    font-size: 0.875rem;
    text-align: right;
}

.divider {
    grid-column: 1 / span 4;
    grid-row: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-design {
    grid-row: 5;
}

.footer-studio {
    grid-column: 2;
    grid-row: 5;
}

.design-name, .studio-name {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.7);
}

.design-link, .studio-link {
    margin-top: 0.5rem;
    font-weight: 500;
    color: rgba(255, 193, 33, 1);
    text-decoration: underline;
}

.footer-terms {
    grid-column: 3 / span 2;
    grid-row: 5;
    color: rgba(255, 255, 255, 0.7);
    font-size: 0.75rem;
    text-align: right;
}

@media screen and (min-width: 1322px) {
    .container {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .welcome-text-more {
        font-size: 1.5rem;
    }

    .heading-large {
        font-size: 3.25rem;
        line-height: 3.5rem;
    }

    .blog-article-main-date {
        margin-top: 13.25rem;
    }

}

@media screen and (max-width: 1024px) {
    
    html {
        font-size: 14px;
    }
    
    .container {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .welcome {
        height: auto;
        padding-top: 5rem;
    }

    .welcome-content {
        flex-direction: column;
        gap: 2rem;
    }

    .welcome-text-more {
        width: 50%;
        padding: 4%;
        /* margin: 0 auto; */    
    } 

    .menu-desktop, .logo-link {
        display: none !important;
    }

    .header-line-mobile {
        background-color: rgba(0, 0, 0, 0.9);
        width: 100%;
        display: block;
        height: 4.5rem;
    }

    .logo-mobile {
        margin-left: 1.5rem;
        padding-top: 1rem;
    }

    .menu-mobile {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        position: absolute;
        right: 0;
        top: 4.5rem;
    }

    .menu-items-mobile {
        margin-bottom: 1rem;
    }

    .menu-item-mobile {
        color: white;
        margin-bottom: 1rem;
        padding: 0.5rem;
        font-size: 1.5rem;
        text-align: center;
        /* border: 1px solid darkgray; */
        /* width: 100%; */
    }

    .menu-burger {
        margin-top: 1rem;
        position: absolute;
        right: 1.5rem;
        top: 0;
        width: 30px;
        height: 30px;
        z-index: 2;
        display: block;
        
    }

    .welcome-form {
        width: 100%;
        padding: 1.5rem 1.5rem 0.5rem;
    }

    .welcome-text {
        width: 100%;
    }

    .dance {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 0;
    }

    .joinus-text {
        width: 100%;
    }

    .products-wrapper {
        flex-direction: column;
        max-height: fit-content;
    }

    .product-card {
        width: 100%;
    }

    .product-card-heading {
        margin-top: 40vw;
    }

    .method-wrapper {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    
    .method-image-circle-first, .method-image-circle-second {
        display: none;
    }

    .place-wrapper {
        flex-direction: column;
    }

    .place-text, .place-slider {
        width: 100%;
    }

    .place-swiper-slider {
        height: 60vw;
    }

    .faq-flex-wrapper {
        flex-direction: column;
    }
    .faq-text, .faq-wrapper {
        width: 100%;
    }
    .faq-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .schedule-wrapper {
        flex-direction: column;
        gap: 1.5rem;
    }

    .schedule-card {
        width: 100%;
    }

    .schedule-card-description-time, .schedule-card-description-day {
        font-size: 1.5rem;
    }

    .teachers-slider-wrapper {
        margin-left: -105px;
    }

    .teachers-swiper-slider {
        padding: 7.5rem 0;
    }

    .blog-row {
        display: flex;
        flex-direction: column;
        margin-top: 1.5rem;
        gap: 1.5rem;
    }

    .blog-article-2, .blog-article-3, .blog-article-4 {
        width: 100%;
    }

    .blog-article-main-date {
        margin-top: 12vw;
    }

    .blog-row-1 {
        display: block;
    }

    .blog-article-main-button
    {
        margin-top: 1.5rem;
    }

    .blog-article-main-heading {
        width: 100%;
    }

    .blog-widgets-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    
    .widget-vk, .widget-tg {
        width: 100%;
        border: none;
        padding: 0;
    }

    .otzyvi-wrapper {
        flex-direction: column;
    }

    .otzyvi-swiper-slider {
        height: 38vw;
    }

    .otzyvi-col-1, .otzyvi-col-2 {
        width: 100%;
    }

    .otzyvi-image {
        margin-left: 14%;
        margin-top: 13%;
    }

    .otzyvi-slide {
        width: 80%;
    }

    .otzyv-image {
        width: 80vw;
    }

    .project-row{
        flex-direction: column;
    }

    .project-col {
        width: 100%;
    }

    .project-button-row {
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .therapy-wrapper {
        flex-direction: column;
    }

    .therapy-col-1, .therapy-col-2 {
        width: 100%;
    }

    .therapy-img-2 {
        display: none;
    }

    .contactus-wrapper {
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .contactus-col-1, .contactus-col-2 {
        width: 100%;
    }

    .contactus-button {
        width: 100%;
    }

    .contactus-social {
        margin-top: 3rem;
    }

    .contactus-disc {
        width: 100%;
    }

    .contactus-button-row {
        flex-direction: column;
    }

    .footer-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        padding: 1.5rem 1rem;
    }

    .footer-logo {
        margin: 0 auto; 
    }

    .footer-name {
        text-align: center;
    }
}